body {
  box-sizing: border-box;
  margin: 20px;
}
.menusection{
  margin-left: 60px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}
.navsection{
  display: flex;
  justify-content: space-around;
  gap: 30px;
  background-color:rgb(255, 228, 187);
  height: 80px;
  margin: 30px;
  align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
}
.searchicon{
  background-color: rgb(152, 218, 228);
  height: 1.82rem;
}
.card {
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}
.card-body { 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow: hidden;
} 
.card:hover {
   transform: scale(1.05);
  } 
nav{
     padding: 5px;
    border-radius: 10px;
  }
.navitems{
  color: black;
  text-decoration: none;
  margin: 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
}
.navitems:hover { 
   border-bottom: 3px solid white;
}
.cartdiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
#backbutton{
  display: none;
}
@media only screen and (max-width:769px){
  .menusection{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
.logo{
  height: 2.8rem ;
  width: 2.8rem;
}
.search-bar{
  display: flex;
}
.search-bar input{
  width:5rem;
  border: none;
  height: 2rem;
}
.navsection{
margin:auto;
}
.cartdiv{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
}
#backbutton{
display: block;
margin-bottom: 10px;
}
.navitems{
  font-size: 0.8rem;
}
.checkIn{
  background-color: rgb(255, 228, 187);;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px;
  align-items: center;
}
.divide{
  display: grid;
  grid-template-columns: 1fr;
}
}
@media only screen and (min-width:770px) and (max-width:1200px)
{
  .menusection{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cartdiv{
    display: grid;
   grid-template-columns: 1fr 1fr;
  }
}